<html>
    <head>
        <title>Smart Bird Feeder</title>
        <meta http-equiv="refresh" content="5">
    </head>
    <body>
        <table border ="1">
            <tr>
                <th>Image</th>
                <th>Date</th>
                <th>Time</th>
                <th>Temperature</th>
                <th>Humidity</th>
                <th>Wind Speed</th>
                <th>Pressure</th>
                <th>Conditions</th>
            </tr>
            {% for record in records %}
                <tr>
                    <td><img src={{ url_for('static', filename=record[8]) }}/></td>
                    <td>{{ record[6] }}</td>
                    <td>{{ record[7] }}</td>
                    <td>{{ record[1] }}</td>
                    <td>{{ record[2] }}</td>
                    <td>{{ record[5] }}</td>
                    <td>{{ record[3] }}</td>
                    <td>{{ record[4] }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>